<h1>Welcome to the URL Shortener</h1>

<a href="/urls/new">Get a Shortcut</a>

<ul>
  <%= @urls.each do |url| %>
    <li>
      <%= link_to url.title, url %>

      <%= form_for url, method: :delete do |form| %>
        <%= form.submit "Delete Link" %>
      <% end %>
    </li>
<% end %>
</ul>
